- content_for(:title, "Create a New Target Group")
- content_for(:subnav) do
  = link_to 'View All', client_target_groups_path(client)
  %a.selected Create New
%p A <em>Target Group</em> is a set of variables upon which you want to split test data.

= form_for [client, target_group] do |f|
  %fieldset
    %legend Target Group Criteria
    .required.field
      = f.label :name
      %small= f.error_message_on :name
      = f.text_field :name

  = f.submit 'Create Target Group'
