- content_for :title, "My Creatives"
- content_for(:subnav) do
  = subnav(:all)

%p A list of all <em>Creatives</em> available for use in your campaigns.

- if !creatives.empty?
  %table
    %tr
      %th Name
      %th Title
      %th Body
      %th Landing Page
      %th Image
  - creatives.each do |creative|
    %tr
      %td= creative.name
      %td= creative.title
      %td= creative.body
      %th= creative.link_url
      %th= creative.image
- else
  %p You have not uploaded any creatives.
