- content_for(:title, "Create a New Campaign")
- content_for(:subnav) do
  = link_to 'View All', client_campaigns_path(client)
  %a.selected Create New

%p A <em>Campaign</em> is a set of Facebook ads that endeavor to achieve a stated goal e.g. (increase email newsletter signups).

= form_for [client, campaign] do |f|
  %fieldset
    %legend Campaign Information
    .required.field
      = f.label :name
      %small= f.error_message_on :name
      = f.text_field :name

  = f.submit
