- content_for :title, campaign.name
- content_for(:head) do
  = javascript_include_tag 'facebox'

- content_for(:subnav) do
  = subnav(:show)

%h2 Creatives
= link_to 'Add existing creative', available_creatives_client_campaign_path(client, campaign), :id => 'add_existing_creative', :rel => 'facebox'
|
= link_to 'Add new creative', '#'

- if !existing_creatives.empty?
  = render :partial => 'creatives/listing', :locals => {:creatives => existing_creatives}
- else
  %p You haven't yet added any creatives to this campaign

#add_creative_modal{:style => 'display:none;'}
  = render :partial => 'add_creatives_listing', :locals => {:available_creatives => available_creatives}

:javascript
  jQuery(document).ready(function($) {
    $('a#add_existing_creative')[0].href = '#add_creative_modal';
    $('a[rel*=facebox]').facebox();
  })
