- content_for :title, campaign.name
- content_for(:head) do
  = javascript_include_tag 'jquery-ui'

- content_for(:subnav) do
  = subnav(:show)

%h2 Creatives
= link_to 'Add existing creative', available_creatives_client_campaign_path(client, campaign), :id => 'add_existing_creative'
|
= link_to 'Add new creative', '#'

- if !existing_creatives.empty?
  = render :partial => 'creatives/listing', :locals => {:creatives => existing_creatives}
- else
  %p You haven't yet added any creatives to this campaign

#add_creative_modal{:style => 'display:none;background-color:grey;overflow: scroll;'}
  = render :partial => 'add_creatives_listing', :locals => {:available_creatives => available_creatives}

:javascript
  $('a#add_existing_creative').click(function(e){
    e.preventDefault();
    $('#add_creative_modal').dialog({ buttons: { "Cancel": function() { $(this).dialog("close"); } },
      resizable: false,
      height: 600,
      width: 800,
      draggable: false
      });
  });
