!!!
%html
  %head
    %title= "#{yield :title} | FADS"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #navigation-container
      <strong>Current client:</strong>
      %select
        %option ExxonMobil
        %option JP Morgan Chase
        %option Create New...
      #navigation
        %a{ :href => "/" } Dashboard
        %a{ :href => "/campaigns" } Campaigns
        %a{ :href => "/creatives" } Creatives
        %a{ :href => "/target_groups" } Target Groups
        %a{ :href => "/profile" } Account (<em>yflicker</em>)
        - if user_signed_in?
          %a= link_to 'Logout', destroy_user_session_path
        - else
          %a= link_to 'Login', new_user_session_path
    #subnav-container
      %a{ :href => "./" }
        %img{ :src => "http://www.smartlogicsolutions.com/images/logo.png", :height => 39, :width => 253, :alt => "FADS Logo" }
      #subnav= yield :subnav
    %h1= yield :title
    -if notice
      .notice= notice
    -if alert
      .alert= alert
    #content
      = yield
    #footer
      &copy; 2011 FADS, LLC. All rights reserved. Terms and conditions, features, support, pricing and service options subject to change without notice. |
      %a{ :href => "#"} Terms
      |
      %a{ :href => "#"} Privacy
      |
      %a{ :href => "#"} Policy
      |
