!!!
%html
  %head
    %title= "#{yield :title} | FADS"
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = javascript_include_tag 'jquery'
    = csrf_meta_tag
  %body
    #navigation-container
      - if user_signed_in?
        = form_tag select_clients_path, :id => 'client_select' do
          %label{:for => 'client_id'}
            %strong Current client:
          = select_tag 'client_id', client_options_for_user(current_user)
      #navigation
        - if user_signed_in? && client.id?
          = link_to 'Dashboard', clients_path
          = link_to 'Campaigns', client_campaigns_path(client)
          = link_to 'Target Groups', client_target_groups_path(client)
          = link_to 'Creatives', client_creatives_path(client)
        - if user_signed_in?
          %a{ :href => "/profile" } Account (<em>yflicker</em>)
          %a= link_to 'Logout', destroy_user_session_path
        - else
          %a= link_to 'Login', new_user_session_path
    #subnav-container
      %a{ :href => root_path }
        %img{ :src => "http://www.smartlogicsolutions.com/images/logo.png", :height => 39, :width => 253, :alt => "FADS Logo" }
      #subnav= yield :subnav
    %h1= yield :title
    -if notice
      .notice= notice
    -if alert
      .alert= alert
    #content
      = yield
    #footer
      &copy; 2011 FADS, LLC. All rights reserved. Terms and conditions, features, support, pricing and service options subject to change without notice. |
      %a{ :href => "#"} Terms
      |
      %a{ :href => "#"} Privacy
      |
      %a{ :href => "#"} Policy
      |

  :javascript
    $('select#client_id').change( function() {
      $('form#client_select').submit();
    });
